@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');
.Menubar{
    background-color: #C5AF9B;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.menu-bars, .icon-noti{
    margin-left: 2 rem;
    font-size: 2rem;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu{
    background-color: #C5AF9B ;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 10;
    position: absolute;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #95806E;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu-items {
    width: 100%;
}

.nav-toggle{
    background-color: aqua;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}

.text-login, nav{
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.name-logo{
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    
}
.pic-logo{
    margin-left: 50px;
    
}

.bnt-rigth{
    margin-left: 1025px;
    padding: 0%;
    border: 0;
}

.text-login{
    margin-top: 10px;
    margin-left: -30px;
}

.icon-hamberger{
    margin-left: 30px;
}

.name-logo{
    margin-left: 15px;
}

/* .text-login{
    margin-left: 500px;
}
.icon-noti{
    margin-left: 200px;
} */

/* .icon-group-right{
    justify-content: flex-end;
} */