#bnt-back, #text-page, #icon-search{
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    color: #95806E;
}

.button-back, .bnt-in-card{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #95806E;
    border-color:#746354;
    border-width: 0.5px;
    margin-top: 10px;
    margin-left: 60px;
}

.bnt-in-card:hover,.bnt-in-card:focus,.bnt-in-card.focus, .button-back:hover,.button-back:focus,.button-back.focus{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;/*สีตัวหนังสือในปุ่ม*/
    background:#c5ab95;/*พื้นหลังปุ่ม*/
    border-color:#746354;/*เส้นขอบปุ่ม*/
    border-width: 0.5px;/*ขนาดของเส้นขอบปุ่ม*/
}
#line{
    margin-top: 10px;
    margin-bottom: 30px;
}

#text-page{
    margin-top: 30px;
}

#card-product{
    margin: 15px;
}
